@charset "UTF-8";

/* 전체 영역에 적용하는 스타일시트 */
#container { width: 950px; margin: 0  auto; }

/* header에 적용하는 스타일시트 */
nav ul { list-style-type: none; 
         padding-bottom: 15px }
nav ul li { float: left; margin-left: 100px }
hr { clear:both; }

/* main에 적용하는 스타일시트 */
#main { min-height: 500px }

/* footer에 대한 스타일시트 */
footer p { text-align: center }

/* 링크에 대한 스타일시트 */
a { font-weight: bold }
a:link { text-decoration: none; color: black } 
a:visited { text-decoration: none; color: black }
a:hover { text-decoration: underline; color: orange }
