#writefrm { width:750px; margin:75px auto; }
#writefrm div { margin-bottom: 10px; }
#writefrm label { width: 100px; display: inline-block;
    font-weight: bold; text-align: right;
    margin-right: 10px; }
#writefrm input, textarea {
    padding: 5px; border: 1px solid black; }
input:hover, input:focus, textarea:hover, textarea:focus {
    background: mintcream }
button { padding: 5px; width: 85px; }

textarea { width: 550px; height: 150px; }
.dragup { vertical-align: top; margin-top: 5px; }